.home-container {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  border-radius: 2rem 0 0 2rem;
  overflow: auto;
  display: flex;
  padding: 2%;
  gap: 2%;
}

@media (min-width: 769px) {
  .home-container {
    overflow: hidden; /* Stop scrolling for screens larger than 768px */
  }
}

/* LEFT SECTION  */
.home-left {
  flex: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RIGHT SECTION  */
.home-right {
  flex: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* LEFT SECTION  */

.home-left > div:nth-child(1) input {
  background-color: var(--secondary);
  padding: 20px 0 20px 40px;
  font-size: 16px;
}

/* search  */

.search-bar {
  position: relative;
}

.search-bar img {
  position: absolute;
  top: 10px;
  left: 14px;
}
.box span {
  padding-left: 7px;
}

/* home heading  */
.home-heading > h3 {
  margin: 0;
  font-size: 22px;
}

/* datacard(boxes)  */
.data-card {
  display: flex;
  gap: 30px;
}

.data-card > div {
  width: 100%;
  height: 100px;
}

.date-box {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: space-between;
  height: 70px;
}

/* table  */
.job-heading {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

/* Table */
.job-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.job-table tbody {
  width: 100%;
}

.job-table td {
  padding: 15px 19px;
}

.job-table tr:hover {
  width: 100%;
  background-color: var(--hover-content);
  color: var(--hover);
  border-radius: 50px;
}

/* RIGHT SECTION  */

.home-right > .card-primary:nth-child(1) {
  width: 86px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-right > .card-primary:nth-last-child(-n + 2) {
  width: auto;
  height: auto;
  flex: 1;
}

.profile-section {
  width: 100%;
  background-color: var(--secondary);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Adjust to a column layout for smaller screens */
  }

  .home-right {
    flex: 100%; /* Take full width for smaller screens */
  }
}
