.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 30px;
  gap: 30px;
}

/* LEFT SECTION  */
.home-left {
  flex: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* RIGHT SECTION  */
.home-right {
  flex: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}



/* LEFT SECTION  */
/* search  */


.box span {
  padding-left: 7px;
}

/* home heading  */
.home-heading>h3{
  margin: 0;
  font-size: 22px;
}

/* datacard(boxes)  */
.data-card {
  display: flex;
  gap: 30px;
}

.data-card>div{
  width: 100%;
}


/* table  */
.job-heading{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}



/* RIGHT SECTION  */

.home-right>.card-primary:nth-child(1) {
  width: 86px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 15px;
}


.home-right > .card-primary:nth-last-child(-n+2) {
  width: auto; 
  height: auto;
  flex: 1
}

.profile-section{
  width: 100%;
  background-color: var(--secondary);
}
